<div class="ui attached table segment commit-table">
		<table class="ui very basic striped table unstackable" id="commits-table">
			<thead>
				<tr>
					<th class="sixteen wide message">{{ctx.Locale.Tr "repo.commits.message"}}</th>
					<th class="one wide sha">{{StringUtils.ToUpper $.Repository.ObjectFormatName}}</th>
					<th class="one wide"></th>
				</tr>
			</thead>
			<tbody class="commit-list">
				{{$commitRepoLink := $.RepoLink}}{{if $.CommitRepoLink}}{{$commitRepoLink = $.CommitRepoLink}}{{end}}
				{{range .Commits}}
					<tr>
						<td class="message">
							<b>
							<span class="message-wrapper">
							{{if $.PageIsWiki}}
								<span class="commit-summary {{if gt .ParentCount 1}} grey text{{end}}" title="{{.Summary}}">{{.Summary | RenderEmoji $.Context}}</span>
							{{else}}
								{{$commitLink:= printf "%s/commit/%s" $commitRepoLink (PathEscape .ID.String)}}
								{{if $.PageIsPullCommits}}
									{{$commitLink = (printf "%s/pulls/%d/commits/%s" $commitRepoLink $.Issue.Index (PathEscape .ID.String))}}
								{{end}}
								<span class="commit-summary {{if gt .ParentCount 1}} grey text{{end}}" title="{{.Summary}}">{{RenderCommitMessageLinkSubject $.Context .Message $commitLink ($.Repository.ComposeMetas ctx)}}</span>
							{{end}}
							</span>
							</b>
							{{if IsMultilineCommitMessage .Message}}
							<button class="ui button js-toggle-commit-body ellipsis-button" aria-expanded="false">...</button>
							{{end}}
							{{template "repo/commit_statuses" dict "Status" .Status "Statuses" .Statuses}}
							{{if $.CommitTagsMap}}
								{{$tags := index $.CommitTagsMap .ID.String}}
								{{if $tags}}
									{{range $tags}}
										{{- template "repo/tag/name" dict "RepoLink" $.Repository.Link "TagName" .TagName "IsRelease" (not .IsTag) -}}
									{{end}}
								{{end}}
							{{end}}
							{{if IsMultilineCommitMessage .Message}}
							<pre class="commit-body tw-hidden">{{RenderCommitBody $.Context .Message ($.Repository.ComposeMetas ctx)}}</pre>
							{{end}}
							<br>
							<div class="author tw-flex grey text">
								{{$userName := .Author.Name}}
								{{if .User}}
									{{if and .User.FullName DefaultShowFullName}}
										{{$userName = .User.FullName}}
									{{end}}
									{{ctx.AvatarUtils.Avatar .User 20 "tw-mr-2"}}<a class="muted" href="{{.User.HomeLink}}">{{$userName}}</a>
								{{else}}
									{{ctx.AvatarUtils.AvatarByEmail .Author.Email .Author.Name 20 "tw-mr-2"}}
									<span>{{$userName}}</span>
								{{end}}
								&nbsp;
								{{if ne .Committer.Name .Author.Name}}
									<span>authored and &nbsp;</span>
									{{ctx.AvatarUtils.AvatarByEmail .Committer.Email .Committer.Name 20 "tw-mr-2"}}<span>{{.Committer.Name}}</span>
									&nbsp;
								{{end}}
								
								{{if .Committer}}
									<span>commited {{DateUtils.TimeSince .Committer.When}}</span>
								{{else}}
									<span>authored {{DateUtils.TimeSince .Author.When}}</span>
								{{end}}
							</div>
						</td>
						<td class="sha">
							{{$commitShaLink := ""}}
							{{if $.PageIsWiki}}
								{{$commitShaLink = (printf "%s/wiki/commit/%s" $commitRepoLink (PathEscape .ID.String))}}
							{{else if $.PageIsPullCommits}}
								{{$commitShaLink = (printf "%s/pulls/%d/commits/%s" $commitRepoLink $.Issue.Index (PathEscape .ID.String))}}
							{{else if $.Reponame}}
								{{$commitShaLink = (printf "%s/commit/%s" $commitRepoLink (PathEscape .ID.String))}}
							{{end}}
							{{template "repo/shabox" (dict
								"sha1" .ID.String
								"commitLink" $commitShaLink
								"signature" .Signature
								"verification" .Verification
							)}}
						</td>
						<td class="text right aligned tw-py-0">
							<button class="btn interact-bg tw-p-2" data-tooltip-content="{{ctx.Locale.Tr "copy_hash"}}" data-clipboard-text="{{.ID}}">{{svg "octicon-copy"}}</button>
							{{if not $.PageIsWiki}}
							{{if $.FileName}}
							<a
								class="btn interact-bg tw-p-2"
								data-tooltip-content="{{ctx.Locale.Tr "repo.commits.view_single_diff"}}"
								href="{{printf "%s/commit/%s?files=%s" $commitRepoLink (PathEscape .ID.String) (PathEscapeSegments $.FileName)}}">
								{{svg "octicon-file-diff"}}
							</a>
							{{end}}
							<a
								class="btn interact-bg tw-p-2"
								data-tooltip-content="{{ctx.Locale.Tr "repo.commits.view_path"}}"
								href="{{if $.FileName}}{{printf "%s/src/commit/%s/%s" $commitRepoLink (PathEscape .ID.String) (PathEscapeSegments $.FileName)}}{{else}}{{printf "%s/src/commit/%s" $commitRepoLink (PathEscape .ID.String)}}{{end}}">
								{{svg "octicon-file-code"}}
							</a>
							{{end}}
						</td>
					</tr>
				{{end}}
			</tbody>
		</table>
	</div>
