{{template "base/head" .}}
<div role="main" aria-label="{{if .IsSigned}}{{ctx.Locale.Tr "dashboard"}}{{else}}{{ctx.Locale.Tr "home"}}{{end}}" class="page-content home">
	<div class="tw-mb-8 tw-px-8">
		<div class="left">
			<img class="logo" width="150" height="150" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{ctx.Locale.Tr "logo"}}">
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppDisplayName}}
				</h1>
				<h2>a self-hosted git service, hosted by sense & ncatt with AWS.</h2>
			</div>
		</div>
	</div>

{{template "base/footer" .}}
